body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #00FF00; /* Texto verde brillante */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: right;
    z-index: 2;
}

.navbar a {
    color: #00FF00;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
}

.container {
    position: relative;
    text-align: center;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #00FF00;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #003300; /* Sombra verde oscuro */
}

p {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#timeline, #status {
    margin-top: 20px;
}

button {
    background-color: #00FF00; /* Fondo verde brillante */
    color: #000000; /* Texto negro */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #339966; /* Fondo verde grisáceo al pasar el mouse */
}

#gameInfo {
    display: none;
    margin-top: 20px;
    text-align: center;
    color: #00FF00;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.owl-carousel .card {
    background-color: #0a0a0a;
    padding: 13px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 300px;
}

.owl-carousel .card h2 {
    color: #00FF00;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.owl-carousel .card p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 1em;
}

.owl-carousel .card pre {
    background-color: #003300;
    color: #00FF00;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.owl-carousel .card code {
    color: #00FF00;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background-color: #f700ff;
    color: #ff0000;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
}

/* Estilos adicionales para las animaciones de los botones */
@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.explode {
    animation: explode 0.5s forwards;
}
 